# SUPABASE 
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_production_anon_key


# OPEN AI API KEY
OPENAI_API_KEY=sk-your_production_openai_key

# GEMINI API KEY
GEMINI_API_KEY=your_production_gemini_key


# STRIPE CONFIGURATION  
STRIPE_SECRET_KEY=sk_live_your_production_stripe_key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_your_production_publishable_key
STRIPE_WEBHOOK_SECRET=whsec_your_production_webhook_secret
STRIPE_PRICE_ID_PRO=price_your_production_price_id

# FRONTEND URL
NEXT_PUBLIC_APP_URL=https://your-actual-domain.com
NODE_ENV=production

# BEEHIV API KEY FOR NEWSLETTER
BEEHIIV_API_KEY=zp4KqQQzg5KuGKB9Wudh9aPI53DeHe141mkcnSm88Imb7K42FGAgaDMynVV3LSXD
